body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.container {
  margin-top: 25px;
  height: 600px;
  width: 600px;
  display: grid;
  border: 3px black solid;
}

.footer {
  margin-top: 4em;
  font-weight: 800;
}